.header{
    width: 100%;
    min-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.header__wrap{
    position: relative;
    z-index: 2;
}

.header__menu{
    padding: 25px 0;
}

.header__menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-left{
    display: flex;
    align-items: center;
}

.header__menu-left-btn{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.header__menu-logo-link{
    display: inline-block;
    width: 110px;
    height: 47px;
    margin-left: 30px;
}

.header__menu-left-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__menu-right{
    display: flex;
    align-items: center;
}

.header__menu-phone{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-weight: 500;
}

.header__menu-phone i{
    margin-right: 4px;
}

.header__menu-language{
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    color: #fff;
}
.header__menu-language option{
    color: var(--text-color-1);
}

.header__menu-booking{
    display: inline-block;
    background-color: var(--color-blue);
    padding: 11px 32px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.header__content{
    margin: 100px 0;
}

.header__content h1{
    text-align: center;
    font-size: 56px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
}

/* content */

.content{
    padding: 80px 0 0;
}

.services-title{
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 60px;
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 24px;
    color: var(--text-color-1);
    text-align: center;
}

.services__items{
    margin-bottom: 80px;
}

.services__wrap{
    padding-right: 75px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.services__wrap h6{
    font-size: 15px;
    color: var(--text-color-1);
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-left: 65px;
    position: relative;
    margin-bottom: 10px;
    opacity: 0;
}

.services__wrap h6::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 1px;
    background-color: var(--text-color-1);
}

.services__wrap h2{
    font-size: 42px;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--text-color-1);
    margin-bottom: 20px;
    opacity: 0;
}

.services__wrap p{
    font-size: 18px;
    color: var(--text-color-2);
    margin-bottom: 20px;
    line-height: 24px;
    opacity: 0;
}

.services-info{
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-color-1);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    opacity: 0;
}

.services-info i{
    font-size: 14px;
    margin-right: 12px;
}

.services-link{
    border: 1px solid var(--text-color-2);
    color: var(--text-color-1);
    opacity: 0;
}

.services__img{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.services__img img{
    width: 100%;
    height: 100%;
    min-height: 350px;
    max-height: 400px;
    display: block;
    object-fit: cover;
    opacity: 0;
}

.services__reverse{
    flex-direction: row-reverse;
}

.services__reverse .services__wrap{
    padding-right: 0;
    padding-left: 75px;
}

.services__wrap.active h6{
    animation: slideUp 0.5s linear forwards;
}

.services__wrap.active h2{
    animation: slideUp 0.5s 0.3s linear forwards;
}

.services__wrap.active p{
    animation: slideUp 0.5s 0.6s linear forwards;
}

.services__wrap.active .services-info{
    animation: slideUp 0.5s 0.9s linear forwards;
}

.services__wrap.active .services-link{
    animation: slideUp 0.5s 1.2s linear forwards;
}

.services__img.active img{
    animation: zoom 0.5s 0.5s linear forwards;
}

.services__img.active::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    background-color: var(--color-blue);
    z-index: 1;
    animation: slideRight linear 1s;
}

.services__reverse .services__img.active::after{
    animation: slideLeft linear 1s;
}

/* footer */
.footer {
    padding: 80px 0;
    background-color: var(--text-color-1);
    color: #fff;
}

.footer__top {
    padding-bottom: 60px;
}

.footer__logo {
    width: 120px;
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-phone,
.footer-email {
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer-address {
    color: #fff;
    font-weight: 500;
}

.footer__title {
    font-size: 24px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer__item {
    list-style: none;
    margin-bottom: 15px;
}

.footer__item-link {
    color: #fff;
    text-decoration: none;
}

.footer__item-link:hover {
    color: var(--color-blue);
}

.footer__form label {
    font-size: 28px;
    color: #fff;
    font-family: var(--font-title);
    font-weight: 700;
    margin-bottom: 40px;
    display: block;
}

.footer__form-input {
    position: relative;
}

.footer__form-input input {
    width: 100%;
    height: 60px;
    outline: var(--color-blue);
    padding: 0 40px 0 15px;
    font-size: 16px;
    color: #000;
}

.footer__form-input button {
    position: absolute;
    top: 52%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
}

.footer__bottom {
    padding: 40px 0 25px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-left > * {
    margin-right: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.footer__bottom-left > a:hover{
    color: var(--color-blue);
}

.footer__bottom-right > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

.footer__bottom-right > a:hover{
    color: var(--color-blue);
}

/* reposive mobile and tablet */
@media (max-width: 991.98px){
    .hide-mobile-tablet{
        display: none;
    }

    .services__reverse .services__wrap,
    .services__wrap{
        padding-left: 0;
        padding-right: 0;
        transform: translateY(0);
        top: 0;
        margin-bottom: 40px;
    }
}

/* reponsive tablet */
@media (min-width: 768px) and (max-width: 991.98px){
    .hide-tablet{
        display: none;
    }
}

/* reponsive mobile */
@media (max-width: 767.98px){
    .hide-mobile{
        display: none;
    }

    .header__background-img-right{
        width: 100%;
    }

    .header__menu-booking{
        padding: 11px 15px;
    }

    .menu__wrap{
        width: 100%;
    }

    .footer__bottom{
        flex-direction: column-reverse;
    }
}