.header{
    width: 100%;
    min-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.header__wrap{
    position: relative;
    z-index: 2;
}

.header__menu{
    padding: 25px 0;
}

.header__menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-left{
    display: flex;
    align-items: center;
}

.header__menu-left-btn{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.header__menu-logo-link{
    display: inline-block;
    width: 110px;
    height: 47px;
    margin-left: 30px;
}

.header__menu-left-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__menu-right{
    display: flex;
    align-items: center;
}

.header__menu-phone{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-weight: 500;
}

.header__menu-phone i{
    margin-right: 4px;
}

.header__menu-language{
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    color: #fff;
}
.header__menu-language option{
    color: var(--text-color-1);
}

.header__menu-booking{
    display: inline-block;
    background-color: var(--color-blue);
    padding: 11px 32px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.header__content{
    margin: 100px 0;
}

.header__content h1{
    text-align: center;
    font-size: 56px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
}

/* content */
.content{
    padding: 80px 0;
}

.room__detail-img{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.room__detail-img-main{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.room__detail-img-subsidiary{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
}

.room__detail{
    padding-top: 60px;
}

.room__detail-price{
    color: var(--color-blue);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.room__detail-name{
    font-family: var(--font-title);
    font-size: 42px;
    font-weight: 700;
    color: var(--text-color-1);
    margin-bottom: 20px;
}

.room__detail-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-bottom: 30px;
}

.room__detail-info > li{
    font-size: 18px;
    color: var(--text-color-1);
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.room__detail-info > li > i{
    margin-right: 8px;
    font-size: 22px;
}

.room__detail p{
    font-size: 18px;
    color: var(--text-color-2);
    line-height: 24px;
    margin-bottom: 40px;
}

.room__detail-ruler-title,
.room__detail-services-title,
.room__detail-facilities-title{
    font-size: 28px;
    color: var(--text-color-1);
    font-family: var(--font-title);
    font-weight: 700;
    margin-bottom: 20px;
}

.room__detail-facilities-items > li{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 30px;
}

.room__detail-facilities-items > li > p{
    margin-bottom: 0;
    padding-left: 20px;
}

.room__detail-ruler,
.room__detail-services{
    margin-top: 10px;
}

.room__detail-services-decs{
    display: flex;
    margin-bottom: 30px;
}

.room__detail-services-decs img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.room__detail-services-decs-text{
    padding-left: 20px;
}

.room__detail-services-decs-text h5{
    font-size: 20px;
    font-family: var(--font-title);
    color: var(--text-color-1);
    font-weight: 700;
    margin-bottom: 5px;
}

.room__detail-services-decs-text p{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-color-2);
}

.room__detail-services-decs-text p span{
    color: var(--color-blue);
}

.room__detail-services-decs-text > span{
    display: inline-block;
    font-size: 16px;
    color: var(--text-color-2);
}

.room__detail-ruler-items{
    list-style: none;
    margin-top: -10px;
}

.room__detail-ruler-items > li{
    margin-top: 10px;
    color: var(--text-color-2);
    font-size: 18px;
}

.room__detail-form{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
    border: 1px solid #eee;
    border-radius: 5px;
    top: 60px;
    right: 0;
    padding: 30px;
}

.room__detail-form-title{
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 28px;
    color: var(--text-color-1);
    margin-bottom: 30px;
}

.room__detail-form-input{
    position: relative;
}

.room__detail-form-person > p,
.room__detail-form-room > p,
.room__detail-form-input label{
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--text-color-2);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.room__detail-form-input input{
    font-size: 16px;
    color: var(--text-color-1);
    font-weight: 500;
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Jost', sans-serif;
    padding-bottom: 15px;
}

.room__detail-form-person::after,
.room__detail-form-room::after,
.room__detail-form-input::after{
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid var(--text-color-2);
    bottom: 0;
    left: 0;
    background-color: var(--text-color-1);
}

.room__detail-form-person,
.room__detail-form-room{
    position: relative;
    margin-top: 25px;
    width: 100%;
}

.room__detail-form-person-number,
.room__detail-form-room-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    cursor: pointer;
}

.room__detail-form-person-number span,
.room__detail-form-room-number span{
    display: inline-block;
    font-size: 16px;
    color: var(--text-color-1);
    font-weight: 500;
}

.room__detail-form-person-number i,
.room__detail-form-room-number i{
    font-size: 13px;
}

.room__detail-form-btn{
    margin-top: 30px;
    width: 100%;
    border: none;
    background-color: var(--color-blue);
    padding: 12px;
    color: #fff; 
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.room__detail-form-room-wrap{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
    border: 1px solid #eee;
    z-index: 1;
    padding: 20px;
    display: none;
}

.room__detail-form-person-wrap > .children > p,
.room__detail-form-person-wrap > .adult > p,
.room__detail-form-room-wrap p{
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 15px;
    color: var(--text-color-2);
}

.room__detail-form-room-wrap-number{
    display: flex;
    align-items: center;
}

.room__detail-form-person-wrap-number p,
.room__detail-form-room-wrap-number p{
    padding: 0 12px;
    font-size: 18px;
    color: var(--text-color-1);
    font-weight: 500;
}

.room__detail-form-wrap-number-plus,
.room__detail-form-wrap-number-minus{
    cursor: pointer;
}

.room__detail-form-person-wrap{
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
    border: 1px solid #eee;
    z-index: 1;
    padding: 20px;
    display: none;
}

.room__detail-form-person-wrap-number,
.room__detail-form-person-wrap .children,
.room__detail-form-person-wrap .adult{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room__detail-form-person-wrap .adult{
    margin-bottom: 15px;
}

.room__detail-form-person-wrap p{
    margin-bottom: 0;
}

/* footer */
.footer {
    padding: 80px 0;
    background-color: var(--text-color-1);
    color: #fff;
}

.footer__top {
    padding-bottom: 60px;
}

.footer__logo {
    width: 120px;
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-phone,
.footer-email {
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer-address {
    color: #fff;
    font-weight: 500;
}

.footer__title {
    font-size: 24px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer__item {
    list-style: none;
    margin-bottom: 15px;
}

.footer__item-link {
    color: #fff;
    text-decoration: none;
}

.footer__item-link:hover {
    color: var(--color-blue);
}

.footer__form label {
    font-size: 28px;
    color: #fff;
    font-family: var(--font-title);
    font-weight: 700;
    margin-bottom: 40px;
    display: block;
}

.footer__form-input {
    position: relative;
}

.footer__form-input input {
    width: 100%;
    height: 60px;
    outline: var(--color-blue);
    padding: 0 40px 0 15px;
    font-size: 16px;
    color: #000;
}

.footer__form-input button {
    position: absolute;
    top: 52%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
}

.footer__bottom {
    padding: 40px 0 25px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-left > * {
    margin-right: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.footer__bottom-left > a:hover{
    color: var(--color-blue);
}

.footer__bottom-right > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

.footer__bottom-right > a:hover{
    color: var(--color-blue);
}

/* menu */
#menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
}

.menu__wrap{
    position: relative;
    background-color: var(--color-blue);
    width: 50%;
    min-height: 100vh;
    padding: 40px 80px 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1;
    transition: all linear 0.5s;
}

.menu__wrap::-webkit-scrollbar{
    width: 6px;
    background-color: #f5f5f5;
}

.menu__wrap::-webkit-scrollbar-track{
    border-radius: 5px;
}

.menu__wrap::-webkit-scrollbar-thumb{
    background-color: var(--text-color-2);
    border-radius: 5px;
}

.menu__close{
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu__close i{
    font-size: 24px;
}

.menu-bg-black{
    width: 50%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu__items{
    list-style: none;
    padding: 15px 0;
}

.menu__item-children,
.menu__item{
    color: #fff;
    margin: 30px 0;
    cursor: pointer;
}

.menu__item-wrap-title{
    display: flex;
}

.menu__item-number-order{
    font-size: 14px;
}

.menu__item-title-children,
.menu__item-title{
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-title);
    padding-left: 15px;
}

.menu__item-link{
    color: #fff;
    text-decoration: none;
}

.menu__item-title i{
    font-size: 12px;
}

.menu__item-childrens{
    list-style: none;
    margin-top: 30px;
    padding-left: 50px;
    display: block;
    transition: all linear 0.5s;
}

.menu__contact-email,
.menu__contact-phone{
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}

.menu__item{
    overflow: hidden;
    height: 30px;
    transition: all linear 0.5s;
}

/* reposive mobile and tablet */
@media (max-width: 991.98px){
    .hide-mobile-tablet{
        display: none;
    }

    .room__detail-img{
        overflow: auto;
        height: unset;
    }

    .room__detail-img-subsidiary{
        height: 100px;
    }

    .room__detail-form{
        margin-top: 60px;
    }
}

/* reponsive tablet */
@media (min-width: 768px) and (max-width: 991.98px){
    .hide-tablet{
        display: none;
    }

    .room__detail-img-main{
        height: 400px;
    }
}

/* reponsive mobile */
@media (max-width: 767.98px){
    .hide-mobile{
        display: none;
    }

    .header__background-img-right{
        width: 100%;
    }

    .header__menu-booking{
        padding: 11px 15px;
    }

    .menu__wrap{
        width: 100%;
    }

    .footer__bottom{
        flex-direction: column-reverse;
    }
}