.header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.header__background-img-left{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    object-fit: cover;
    z-index: 1;
}

.header__background-img-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 53%;
    object-fit: cover;
    height: 100%;
}

.header__wrap{
    position: relative;
    z-index: 2;
}

.header__menu{
    padding: 25px 0;
}

.header__menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-left{
    display: flex;
    align-items: center;
}

.header__menu-left-btn{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.header__menu-logo-link{
    display: inline-block;
    width: 110px;
    height: 47px;
    margin-left: 30px;
}

.header__menu-left-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__menu-right{
    display: flex;
    align-items: center;
}

.header__menu-phone{
    color: var(--text-color-1);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-weight: 500;
}

.header__menu-phone i{
    margin-right: 4px;
}

.header__menu-language{
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}

.header__menu-booking{
    display: inline-block;
    background-color: var(--color-blue);
    padding: 11px 32px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.header__content{
    margin: 120px 0;
}

.header__content h5{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color-2);
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.header__content h1{
    font-size: 64px;
    font-family: var(--font-title);
    font-weight: 700;
    line-height: 1.19em;
}

.header__content-btn{
    display: inline-block;
    margin: 40px 0;
    padding: 0 28px;
    height: 46px;
    line-height: 46px;
    background-color: var(--color-blue);
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.header__content-btn:hover{
    background-color: var(--color-blue-2);
}

/* content */

.content__about{
    padding: 80px 0;
}

.content__about-title{
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.content__about-title h2{
    font-family: var(--font-title);
    font-size: 28px;
    color: var(--text-color-1);
    margin-bottom: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 1.4em;
}

.content__about-desc-img{
    position: relative;
}

.content__about-desc-img{
    padding-right: 200px;
}

.content__about-desc-img img{
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.content__about-desc-text{
    position: absolute;
    max-width: 570px;
    background-repeat: no-repeat;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 80px;
}

.content__about-desc-text h6{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--text-color-2);
    letter-spacing: 4px;
    position: relative;
    font-weight: 500;
    padding-left: 75px;
    margin-bottom: 10px;
}

.content__about-desc-text h6::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--text-color-1);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content__about-desc-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.content__about-desc-link{
    font-size: 15px;
    display: inline-block;
    color: var(--text-color-1);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
}

.content__about-desc-link::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: var(--text-color-1);
    transition: transform .6s linear;
    transform-origin: left;
    transform: scaleX(0) translateZ(0);
}

.content__about-desc-link:hover{
    color: var(--color-blue);
}

.content__about-desc-link:hover::after{
    transform: scaleX(1) translateZ(0);
}

.content__about-desc-wrap-img img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.content__about-desc-text h3{
    font-size: 42px;
    color: var(--text-color-1);
    font-weight: 700;
    font-family: var(--font-title);
    margin-bottom: 20px;
}

.content__about-list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 60px;
}

.content__about-list > li{
    padding: 0 40px;
}

.content__about-list > li > p{
    margin-bottom: 10px;
    color: var(--text-color-1);
    font-weight: 500;
}

.content__about-list > li > span{
    font-size: 24px;
    color: var(--text-color-2);
    font-family: var(--font-title);
    font-weight: 700;
}

.content__video{
    width: 100%;
    height: 460px;
    overflow: hidden;
    position: relative;
}

.content__video-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear 0.2s;
}

.content__video-wrap{
    position: absolute;
    top: 50%;
    width: 100%;
}

.content__video-items{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.content__video-title{
    transition: all linear 0.5s;
    opacity: 1;
}

.content__video-title h6{
    position: relative;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    padding-left: 75px;
    margin-bottom: 20px;
}

.content__video-title h3{
    font-size: 42px;
    font-family: var(--font-title);
    font-weight: 700;
    color: #fff;
}

.content__video-title h6::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content__video-pause-icon,
.content__video-play-icon{
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.content__video-pause-icon,
.content__video-play.active .content__video-play-icon{
    display: none;
}

.content__video-play .content__video-play-icon,
.content__video-play.active .content__video-pause-icon{
    display: block;
}

.content__rooms{
    padding: 80px 0;
    background-color: var(--bg-color);
}

.content__rooms-title{
    margin-bottom: 45px;
}

.content__rooms-title h6{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    position: relative;
    margin-bottom: 10px;
    color: var(--text-color-1);
    padding-left: 65px;
}

.content__rooms-title h6::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--text-color-1);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content__rooms-title-wrap{
    display: flex;
    justify-content: space-between;
}

.content__rooms-btn{
    color: var(--text-color-1);
    border: 1px solid var(--text-color-1);
}

.content__rooms-btn:hover{
    color: #fff;
    border: 1px solid var(--color-blue);
}

.content__rooms-title-wrap h3{
    font-family: var(--font-title);
    font-size: 42px;
    font-weight: 700;
    color: var(--text-color-1);
}

.content__rooms-wrap{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.content__rooms-wrap-items{
    width: 50%;
    height: 50vw;
    position: relative;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    transform-style: preserve-3d;
}

.content__rooms-wrap-item{
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0 15px;
}

.content__rooms-wrap-item.active{
    position: absolute;
    left: 50%;
    z-index: 2;
}

.content__rooms-wrap-item.right{
    position: absolute;
    left: auto;
    right: -150%;
}
.content__rooms-wrap-item.left{
    position: absolute;
    right: auto;
    left: -50%;
}

.content__rooms-wrap-img{
    display: inline-block;
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;
}

.content__rooms-wrap-img::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 250, 250, 0.7);
}

.content__rooms-wrap-item.active .content__rooms-wrap-img::after{
    display: none;
}

.content__rooms-wrap-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear 0.3s;
}

.content__rooms-wrap-item:hover .content__rooms-wrap-img img{
    transform: scale(1.09);
}

.content__rooms-wrap-desc{
    display: none;
    margin-top: 30px;
}

.content__rooms-wrap-item.active .content__rooms-wrap-desc{
    display: flex;
}

.content__rooms-wrap-desc-title{
    flex-basis: 40%;
    padding: 0 50px 0 30px;
}

.content__rooms-wrap-desc-title h6{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-blue);
    margin-bottom: 10px;
}

.content__rooms-wrap-desc-title a{
    display: inline-block;
    font-family: var(--font-title);
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color-1);
    text-decoration: none;
}

.content__rooms-wrap-desc-title a:hover{
    color: var(--color-blue);
}

.content__rooms-wrap-desc-text{
    flex-basis: 60%;
    padding: 0 30px 0 50px;
}

.content__rooms-wrap-desc-text p{
    font-size: 18px;
    color: var(--text-color-2);
    margin-bottom: 15px;
    font-weight: 500;
}

.content__rooms-wrap-desc-text span{
    display: inline-block;
    font-size: 18px;
    color: var(--text-color-2);
}

.content__rooms-btn-prev{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 28px;
}

.content__rooms-btn-next{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 28px;
}

.content__rooms-btn-prev,
.content__rooms-btn-next{
    color: var(--text-color-1);
    font-family: var(--font-title);
    font-weight: 700;
    max-width: 110px;
}

.content__rooms-btn-prev > p{
    text-align: left;
    margin-left: 15px;
}

.content__rooms-btn-next > p{
    text-align: right;
    margin-right: 15px;
}

.content__banner{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.content__banner::after{
    content: "";
    position: absolute;
    background-image: url(../img/wave-center.svg);
    z-index: 2;
    width: 50px;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
}

.content__banner-wrap{
    width: 100%;
    height: 500px;
    position: relative;
}

.content__banner-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__banner-wrap::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 1;
    opacity: 0.2;
}

.content__banner-wrap-text{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
}

.content__banner-wrap-text h6{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    position: relative;
    padding-left: 65px;
    margin-bottom: 10px;
}

.content__banner-wrap-text h6::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #fff;
    top: 50%;
    left: 0;
}

.content__banner-wrap-text h2{
    font-size: 42px;
    color: #fff;
    font-family: var(--font-title);
    font-weight: 700;
    margin-bottom: 40px;
}

.content__banner-link{
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    transition: all linear 0.2s;
}

.content__banner-link:hover{
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
}

.content__play-full{
    padding: 80px 0;
}

.content__play-full h6{
    position: relative;
    font-size: 15px;
    letter-spacing: 4px;
    color: var(--text-color-1);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    padding-left: 65px;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.content__play-full h6::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: var(--text-color-1);
    top: 50%;
    left: 0;
}

.content__play-full h3{
    font-family: var(--font-title);
    font-size: 42px;
    color: var(--text-color-1);
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
}

.content__play-full-wrap{
    display: block;
    width: 100%;
    height: 540px;
    position: relative;
}

.content__play-full-wrap::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    box-shadow: 1px 20px 30px #ccc;
    z-index: -1;
    display: none;
    transition: all linear 0.2s;
}

.content__play-full-wrap a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.content__play-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__play-full-text{
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 30px 30px 50px;
    overflow: hidden;
}

.content__play-full-text h4{
    font-size: 36px;
    color: #fff;
    font-family: var(--font-title);
    text-align: center;
    margin-bottom: 20px;
    transform: translateY(150px);
    transition: all ease-in 0.2s;
}

.content__play-full-text p{
    color: #fff;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    transform: translateY(75px);
    transition: all ease-in 0.2s;
    opacity: 0;
}

.content__play-full-btn{
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    height: 50px;
    line-height: 50px;
    padding: 0 36px;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    margin-top: 30px;
    transition: all ease-in 0.2s;
    opacity: 0;
}

.content__play-full-wrap:hover::after{
    display: block;
}

.content__play-full-wrap:hover .content__play-full-text h4{
    transform: translateY(0);
}

.content__play-full-wrap:hover .content__play-full-text p{
    transform: translateY(0);
    opacity: 1;
}

.content__play-full-wrap:hover .content__play-full-btn{
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.content__booking{
    padding: 80px 0;
}

.content__booking-img{
    margin-bottom: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content__booking h3{
    font-family: var(--font-title);
    font-size: 42px;
    color: var(--text-color-1);
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
}

.content__booking-form{
    background-color: var(--bg-color);
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.content__booking-form-rooms,
.content__booking-form-input{
    width: 40%;
    flex: 0 0 40%;
    padding: 0 30px;
    cursor: pointer;
    position: relative;
}

.content__booking-form-input p,
.content__booking-form-input label{
    display: block;
    font-size: 14px;
    color: var(--text-color-2);
    margin-bottom: 6px;
    font-weight: 500;
}

.content__booking-form-input input{
    width: 100%;
    min-height: 26px;
    color: var(--text-color-1);
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: transparent;
}

.content__booking-form-input span{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    color: var(--text-color-1);
    font-weight: 500;
}

.content__booking-form-btn{
    background-color: var(--color-blue);
    border: none;
    width: 20%;
    height: 100px;
    flex: 0 0 20%;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 1px;
    padding: 0 30px;
    line-height: 24px;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
}

.content__booking-form-rooms > span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__booking-form-rooms-items{
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: calc(100% + 27px);
    left: 0;
    padding: 10px 30px;
    box-shadow: 1px 1px 10px #ccc;
    display: none;
}

.content__booking-form-rooms-items.active{
    display: block;
}

.content__booking-form-rooms-items > .item-wrap{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__booking-form-rooms-items > .item-wrap > p{
    color: var(--text-color-1);
}

.content__booking-form-rooms-items > .item-wrap > .quantity{
    display: flex;
    align-items: center;
}

.content__booking-form-rooms-items > .item-wrap input{
    width: 35px;
    height: 35px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-1);
    font-family: 'Jost', sans-serif;
}

.content__booking-form-rooms-items > .item-wrap i{
    font-weight: 900;
    font-size: 14px;
}

.content__banner-social{
    padding: 80px 0;
} 

.content__banner-social h6{
    font-size: 15px;
    color: var(--text-color-1);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.content__banner-social h2{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    font-family: var(--font-title);
    color: var(--text-color-1);
    margin-bottom: 60px;
}

.content__banner-social-link{
    display: block;
    text-decoration: none;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content__banner-social-link::after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: all linear 0.2s;
}

.content__banner-social-link p{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    z-index: 1;
    display: none;
    transition: all linear 0.2s;
}

.content__banner-social-link:hover p,
.content__banner-social-link:hover::after{
    display: block;
}

/* footer */
.footer {
    padding: 80px 0;
    background-color: var(--text-color-1);
    color: #fff;
}

.footer__top {
    padding-bottom: 60px;
}

.footer__logo {
    width: 120px;
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-phone,
.footer-email {
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer-address {
    color: #fff;
    font-weight: 500;
}

.footer__title {
    font-size: 24px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer__item {
    list-style: none;
    margin-bottom: 15px;
}

.footer__item-link {
    color: #fff;
    text-decoration: none;
}

.footer__item-link:hover {
    color: var(--color-blue);
}

.footer__form label {
    font-size: 28px;
    color: #fff;
    font-family: var(--font-title);
    font-weight: 700;
    margin-bottom: 40px;
    display: block;
}

.footer__form-input {
    position: relative;
}

.footer__form-input input {
    width: 100%;
    height: 60px;
    outline: var(--color-blue);
    padding: 0 40px 0 15px;
    font-size: 16px;
    color: #000;
}

.footer__form-input button {
    position: absolute;
    top: 52%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
}

.footer__bottom {
    padding: 40px 0 25px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-left > * {
    margin-right: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.footer__bottom-left > a:hover{
    color: var(--color-blue);
}

.footer__bottom-right > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

.footer__bottom-right > a:hover{
    color: var(--color-blue);
}

/* menu */

#menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
}

.menu__wrap{
    position: relative;
    background-color: var(--color-blue);
    width: 50%;
    min-height: 100vh;
    padding: 40px 80px 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1;
    transition: all linear 0.5s;
}

.menu__wrap::-webkit-scrollbar{
    width: 6px;
    background-color: #f5f5f5;
}

.menu__wrap::-webkit-scrollbar-track{
    border-radius: 5px;
}

.menu__wrap::-webkit-scrollbar-thumb{
    background-color: var(--text-color-2);
    border-radius: 5px;
}

.menu__close{
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu__close i{
    font-size: 24px;
}

.menu-bg-black{
    width: 50%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu__items{
    list-style: none;
    padding: 15px 0;
}

.menu__item-children,
.menu__item{
    color: #fff;
    margin: 30px 0;
    cursor: pointer;
}

.menu__item-wrap-title{
    display: flex;
}

.menu__item-number-order{
    font-size: 14px;
}

.menu__item-title-children,
.menu__item-title{
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-title);
    padding-left: 15px;
}

.menu__item-link{
    color: #fff;
    text-decoration: none;
}

.menu__item-title i{
    font-size: 12px;
}

.menu__item-childrens{
    list-style: none;
    margin-top: 30px;
    padding-left: 50px;
    display: block;
    transition: all linear 0.5s;
}

.menu__contact-email,
.menu__contact-phone{
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}

.menu__item{
    overflow: hidden;
    height: 30px;
    transition: all linear 0.5s;
}

/* calendar */
.calendar-wrap{
    width: 700px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    padding: 30px 0;
    border-radius: 4px;
    border: 1px solid #eee;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%);
}

.calendar-wrap.active{
    display: flex;
}

.calendar__next-month,
.calendar__current-month{
    width: 50%;
    flex: 0 0 50%;
    padding: 0 30px;
}

.calendar__current-month{
    border-right: 1px solid #ccc;
}

.month{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar__current-month .date{
    text-align: center;
    position: relative;
    left: -50%;
    transform: translateX(50%);
}

.date h6{
    font-size: 20px;
    color: var(--text-color-1);
    font-weight: 500;
    text-transform: uppercase;
}

.weekdays{
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
}

.weekdays p{
    font-weight: 500;
    color: var(--text-color-1);
    width: calc(100% / 7);
    text-align: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.days p{
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.calendar__next-month .date{
    position: relative;
    right: -50%;
    transform: translateX(-50%);
    text-align: center;
}

.days .today{
    color: var(--color-blue);
    font-weight: 600;
    font-size: 16px;
}

.calendar-wrap .prev{
    opacity: 0.3;
}

.calendar-wrap .prev.active{
    opacity: 1;
}

.days .active{
    background-color: var(--color-blue);
    color: #fff;
}

.next-mobile{
    display: none;
}

/* reposive mobile and tablet */
@media (max-width: 991.98px){
    .hide-mobile-tablet{
        display: none;
    }

    .content__rooms-wrap-items{
        width: 100%;
        overflow-x: auto;
        display: flex;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    .content__rooms-wrap-items::-webkit-scrollbar{
        width: 0 !important;
        display: none; 
    }

    .content__rooms-wrap-item{
        flex: 0 0 100%;
    }

    .content__rooms-wrap-img::after{
        display: none;
    }

    .content__rooms-wrap-desc{
        display: flex;
    }

    .content__booking-form{
        width: 100%;
    }
}

/* reponsive tablet */
@media (min-width: 768px) and (max-width: 991.98px){
    .hide-tablet{
        display: none;
    }

    .content__about-list > li{
        padding: 0 15px;
    }

    .content__rooms-wrap-items{
        height: 75vw;
    }
}

/* reponsive mobile */
@media (max-width: 767.98px){
    .hide-mobile{
        display: none;
    }

    .header__background-img-right{
        width: 100%;
    }

    .header__menu-booking{
        padding: 11px 15px;
    }

    .menu__wrap{
        width: 100%;
    }

    .content__about-desc-text{
        position: relative;
        transform: translateY(0);
        top: 0;
        padding: 30px;
    }

    .content__about-desc-wrap{
        flex-direction: column;
        align-items: flex-start;
    }

    .content__about-desc-link{
        margin-bottom: 10px;
    }

    .content__about-list{
        flex-direction: column;
        align-items: center;
    }

    .content__about-list > li{
        text-align: center;
        margin-bottom: 30px;
    }

    .content__about-desc-img{
        padding-right: 0;
    }

    .content__video-items{
        flex-direction: column;
        align-items: flex-start;
    }

    .content__video-wrap{
        top: 30%;
    }

    .content__video-play{
        margin-top: 50px;
    }

    .content__rooms-wrap-img{
        height: 40%;
    }

    .content__rooms-wrap-items{
        height: unset;
    }

    .content__rooms-wrap-desc{
        flex-wrap: wrap;
    }

    .content__rooms-wrap-desc-text,
    .content__rooms-wrap-desc-title{
        flex-basis: 100%;
        padding: 0;
    }

    .content__rooms-wrap-desc-title a{
        margin-bottom: 10px;
    }

    .content__banner::after{
        display: none;
    }

    .content__booking-form{
        flex-wrap: wrap;
        padding: 50px 0 20px;
    }

    .content__booking-form-btn,
    .content__booking-form-rooms,
    .content__booking-form-input{
        width: 100%;
        flex: 0 0 100%;
        margin-bottom: 30px;
    }

    .content__booking-form-btn{
        height: 50px;
    }

    .content__about-desc-text h3,
    .content__rooms-title-wrap h3,
    .content__play-full h3,
    .content__booking h3{
        font-size: 28px;
    }

    .content__banner-wrap-text h2{
        font-size: 36px;
    }

    .content__about{
        padding: 80px 0 50px;
    }

    .footer__bottom{
        flex-direction: column-reverse;
    }

    .calendar-wrap{
        width: 350px;
    }

    .calendar__current-month{
        width: 100%;
        flex: 0 0 100%;
        border-right: none;
    }
    
    .next-mobile{
        display: block;
    }

    .calendar__current-month .date{
        left: 0;
        transform: translateX(0);
    }
}