.header{
    width: 100%;
    min-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.header__wrap{
    position: relative;
    z-index: 2;
}

.header__menu{
    padding: 25px 0;
}

.header__menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-left{
    display: flex;
    align-items: center;
}

.header__menu-left-btn{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.header__menu-logo-link{
    display: inline-block;
    width: 110px;
    height: 47px;
    margin-left: 30px;
}

.header__menu-left-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__menu-right{
    display: flex;
    align-items: center;
}

.header__menu-phone{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-weight: 500;
}

.header__menu-phone i{
    margin-right: 4px;
}

.header__menu-language{
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    color: #fff;
}
.header__menu-language option{
    color: var(--text-color-1);
}

.header__menu-booking{
    display: inline-block;
    background-color: var(--color-blue);
    padding: 11px 32px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.header__content{
    margin: 100px 0;
}

.header__content h1{
    text-align: center;
    font-size: 56px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
}

/* content */
.spa__desc{
    padding: 80px 0;
}

.spa__desc-title{
    max-width: 650px;
    margin: 0 auto;
    font-size: 24px;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--text-color-1);
    text-align: center;
}

.spa__desc-items{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.spa__desc-item{
    padding: 0 40px;
}

.spa__desc-item:nth-child(2){
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.spa__desc-item p{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--color-blue);
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.spa__desc-item span{
    display: block;
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 24px;
    color: var(--text-color-1);
}

.content__video{
    width: 100%;
    height: 460px;
    overflow: hidden;
    position: relative;
}

.content__video-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear 0.2s;
}

.content__video-wrap{
    position: absolute;
    top: 50%;
    width: 100%;
}

.content__video-items{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.content__video-title{
    transition: all linear 0.5s;
    opacity: 1;
}

.content__video-title h6{
    position: relative;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    padding-left: 75px;
    margin-bottom: 20px;
}

.content__video-title h3{
    font-size: 42px;
    font-family: var(--font-title);
    font-weight: 700;
    color: #fff;
}

.content__video-title h6::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.content__video-pause-icon,
.content__video-play-icon{
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

.content__video-pause-icon,
.content__video-play.active .content__video-play-icon{
    display: none;
}

.content__video-play .content__video-play-icon,
.content__video-play.active .content__video-pause-icon{
    display: block;
}

.spa__services{
    padding-top: 80px;
}

.spa__services-title{
    text-align: center;
    font-family: var(--font-title);
    font-size: 42px;
    color: var(--text-color-1);
    font-weight: 700;
    margin-bottom: 10px;
}

.spa__services-desc{
    font-size: 18px;
    color: var(--text-color-2);
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.spa__services-item-wrap{
    margin-bottom: 80px;
}

.spa__services-img{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.spa__services-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    opacity: 0;
}

.spa__services-img.active::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    background-color: var(--color-blue);
    z-index: 1;
    animation: slideLeft linear 1s;
}

.spa__services-img.active img{
    animation: zoom 0.5s 0.5s linear forwards;
}

.spa__services-wrap{
    padding: 0 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.spa__services-wrap-title{
    font-family: var(--font-title);
    font-size: 36px;
    color: var(--text-color-1);
    font-weight: 700;
    margin-bottom: 20px;
    opacity: 0;
}

.spa__services-wrap-desc{
    font-size: 18px;
    color: var(--text-color-2);
    margin-bottom: 20px;
    opacity: 0;
}

.spa__services-wrap-items{
    padding: 10px 0;
    overflow: hidden;
    transition: all linear 0.5s;
    opacity: 0;
}

.spa__services-wrap-items:nth-child(3){
    border-bottom: 1px solid #ccc;
}

.spa__services-wrap-items h6{
    font-size: 20px;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--text-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.spa__services-wrap-items h6 i{
    font-size: 12px;
    color: var(--text-color-2);
}

.spa__services-wrap-items p{
    padding-top: 15px;
    font-size: 18px;
    color: var(--text-color-2);
}

.spa__services-link{
    border: 1px solid var(--text-color-2);
    color: var(--text-color-1);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 40px;
    opacity: 0;
}

.spa__services-wrap.active .spa__services-wrap-title{
    animation: slideUp 0.5s linear forwards;
}

.spa__services-wrap.active .spa__services-wrap-desc{
    animation: slideUp 0.5s 0.3s linear forwards;
}

.spa__services-wrap.active .spa__services-wrap-items{
    animation: slideUp 0.5s 0.6s linear forwards;
}

.spa__services-wrap.active .spa__services-link{
    animation: slideUp 0.5s 0.9s linear forwards;
}

.restaurant__comment{
    padding: 80px 0;
    background-color: #f6f6fa;
}

.restaurant__comment-wrap{
    position: relative;
}

.restaurant__comment-items{
    width: 100%;
}

.restaurant__comment-logo{
    width: 60px;
    display: block;
    margin: 0 auto;
} 

.restaurant__comment-text{
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 24px;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--text-color-1);
}

.restaurant__comment-address{
    font-size: 16px;
    color: var(--text-color-2);
    text-align: center;
}

.restaurant__comment-name{
    padding-top: 25px;
    font-size: 20px;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--text-color-1);
    text-align: center;
}

.restaurant__comment-wrap .next-btn,
.restaurant__comment-wrap .prev-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    z-index: 1;
    cursor: pointer;
}

.restaurant__comment-wrap .prev-btn{
    left: 20px;
}

.restaurant__comment-wrap .next-btn{
    right: 20px;
}

/* footer */
.footer {
    padding: 80px 0;
    background-color: var(--text-color-1);
    color: #fff;
}

.footer__top {
    padding-bottom: 60px;
}

.footer__logo {
    width: 120px;
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-phone,
.footer-email {
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer-address {
    color: #fff;
    font-weight: 500;
}

.footer__title {
    font-size: 24px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer__item {
    list-style: none;
    margin-bottom: 15px;
}

.footer__item-link {
    color: #fff;
    text-decoration: none;
}

.footer__item-link:hover {
    color: var(--color-blue);
}

.footer__form label {
    font-size: 28px;
    color: #fff;
    font-family: var(--font-title);
    font-weight: 700;
    margin-bottom: 40px;
    display: block;
}

.footer__form-input {
    position: relative;
}

.footer__form-input input {
    width: 100%;
    height: 60px;
    outline: var(--color-blue);
    padding: 0 40px 0 15px;
    font-size: 16px;
    color: #000;
}

.footer__form-input button {
    position: absolute;
    top: 52%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
}

.footer__bottom {
    padding: 40px 0 25px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-left > * {
    margin-right: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.footer__bottom-left > a:hover{
    color: var(--color-blue);
}

.footer__bottom-right > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

.footer__bottom-right > a:hover{
    color: var(--color-blue);
}

/* reposive mobile and tablet */
@media (max-width: 991.98px){
    .hide-mobile-tablet{
        display: none;
    }
}

/* reponsive tablet */
@media (min-width: 768px) and (max-width: 991.98px){
    .hide-tablet{
        display: none;
    }
}

/* reponsive mobile */
@media (max-width: 767.98px){
    .hide-mobile{
        display: none;
    }

    .header__background-img-right{
        width: 100%;
    }

    .header__menu-booking{
        padding: 11px 15px;
    }

    .menu__wrap{
        width: 100%;
    }

    .footer__bottom{
        flex-direction: column-reverse;
    }

    .content__video-items{
        flex-direction: column;
        align-items: flex-start;
    }

    .content__video-wrap{
        top: 30%;
    }

    .content__video-play{
        margin-top: 50px;
    }

    .spa__desc{
        padding: 80px 0 60px;
    }

    .spa__desc-item{
        text-align: center;
        margin-bottom: 20px;
    }

    .spa__desc-item:nth-child(2){
        border-left: none;
        border-right: none;
    }

    .spa__services-wrap{
        padding: 0;
        margin-top: 30px;
    }
}