.header{
    width: 100%;
    min-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.header__wrap{
    position: relative;
    z-index: 2;
}

.header__menu{
    padding: 25px 0;
}

.header__menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-left{
    display: flex;
    align-items: center;
}

.header__menu-left-btn{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.header__menu-logo-link{
    display: inline-block;
    width: 110px;
    height: 47px;
    margin-left: 30px;
}

.header__menu-left-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__menu-right{
    display: flex;
    align-items: center;
}

.header__menu-phone{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-weight: 500;
}

.header__menu-phone i{
    margin-right: 4px;
}

.header__menu-language{
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    color: #fff;
}
.header__menu-language option{
    color: var(--text-color-1);
}

.header__menu-booking{
    display: inline-block;
    background-color: var(--color-blue);
    padding: 11px 32px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.header__content{
    margin: 100px 0;
}

.header__content h1{
    text-align: center;
    font-size: 56px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
}

/* content */
.contact__info{
    padding: 80px 0;
}

.contact__info-decs{
    max-width: 650px;
    margin: 0 auto;
    font-family: var(--font-title);
    font-size: 24px;
    color: var(--text-color-1);
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
}

.contact__info-title{
    font-family: var(--font-title);
    font-size: 28px;
    font-weight: 700;
    color: var(--text-color-1);
    margin-bottom: 30px;
    text-align: center;
}

.contact__info-link{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: var(--text-color-2);
    font-weight: 500;
    margin-bottom: 10px;
}

.contact__info-address{
    text-align: center;
    font-size: 18px;
    color: var(--text-color-2);
    font-weight: 500;
}

.contact__wrap-img{
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.contact__wrap-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.contact__wrap-img.active::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    background-color: var(--color-blue);
    z-index: 1;
    animation: slideLeft linear 1s;
}

.contact__wrap-img.active img{
    animation: zoom 0.5s 0.5s linear forwards;
}

.contact__form{
    padding: 0 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contact__form-title{
    font-family: var(--font-title);
    font-size: 42px;
    font-weight: 700;
    color: var(--text-color-1);
    margin-bottom: 20px;
    opacity: 0;
}

.contact__form-text{
    font-size: 18px;
    color: var(--text-color-2);
    margin-bottom: 30px;
    opacity: 0;
}

.contact__form-input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--text-color-2);
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color-1);
    letter-spacing: 2px;
    font-family: 'Jost', sans-serif;
    opacity: 0;
}

.contact__form textarea{
    min-height: 150px;
}

.contact__form-btn{
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: var(--color-blue);
    line-height: 40px;
    padding: 0 28px;
    border: none;
    outline: none;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0;
}

.contact__form.active .contact__form-title{
    animation: slideUp 0.5s linear forwards;
}

.contact__form.active .contact__form-text{
    animation: slideUp 0.5s 0.3s linear forwards;
}

.contact__form.active .contact__form-input{
    animation: slideUp 0.5s 0.6s linear forwards;
}

.contact__form.active .contact__form-btn{
    animation: slideUp 0.5s 0.9s linear forwards;
}

.contact__faqs{
    padding: 45px 0;
    margin-top: 80px;
    background-color: var(--bg-color-2);
}

.contact__faqs-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__faqs-text{
    max-width: 500px;
}

.contact__faqs-text h2{
    font-size: 28px;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--text-color-1);
    margin-bottom: 20px;
}

.contact__faqs-text p{
    font-size: 18px;
    color: var(--text-color-2);
    text-align: justify;
}

.contact__faqs-link{
    border: 1px solid var(--text-color-2);
    color: var(--text-color-1);
}

/* footer */
.footer {
    padding: 80px 0;
    background-color: var(--text-color-1);
    color: #fff;
}

.footer__top {
    padding-bottom: 60px;
}

.footer__logo {
    width: 120px;
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-phone,
.footer-email {
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer-address {
    color: #fff;
    font-weight: 500;
}

.footer__title {
    font-size: 24px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer__item {
    list-style: none;
    margin-bottom: 15px;
}

.footer__item-link {
    color: #fff;
    text-decoration: none;
}

.footer__item-link:hover {
    color: var(--color-blue);
}

.footer__form label {
    font-size: 28px;
    color: #fff;
    font-family: var(--font-title);
    font-weight: 700;
    margin-bottom: 40px;
    display: block;
}

.footer__form-input {
    position: relative;
}

.footer__form-input input {
    width: 100%;
    height: 60px;
    outline: var(--color-blue);
    padding: 0 40px 0 15px;
    font-size: 16px;
    color: #000;
}

.footer__form-input button {
    position: absolute;
    top: 52%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
}

.footer__bottom {
    padding: 40px 0 25px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-left > * {
    margin-right: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.footer__bottom-left > a:hover{
    color: var(--color-blue);
}

.footer__bottom-right > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

.footer__bottom-right > a:hover{
    color: var(--color-blue);
}

/* reposive mobile and tablet */
@media (max-width: 991.98px){
    .hide-mobile-tablet{
        display: none;
    }

    .contact__wrap-img{
        height: 500px;
    }

    .contact__form{
        padding: 0;
        padding-top: 40px;
    }

    .contact__faqs-wrap{
        flex-direction: column;
        align-items: flex-start;
    }

    .contact__faqs-link{
        margin-top: 30px;
    }
}

/* reponsive tablet */
@media (min-width: 768px) and (max-width: 991.98px){
    .hide-tablet{
        display: none;
    }
}

/* reponsive mobile */
@media (max-width: 767.98px){
    .hide-mobile{
        display: none;
    }

    .header__background-img-right{
        width: 100%;
    }

    .header__menu-booking{
        padding: 11px 15px;
    }

    .menu__wrap{
        width: 100%;
    }

    .footer__bottom{
        flex-direction: column-reverse;
    }
}