.header{
    width: 100%;
    min-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.header__wrap{
    position: relative;
    z-index: 2;
}

.header__menu{
    padding: 25px 0;
}

.header__menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-left{
    display: flex;
    align-items: center;
}

.header__menu-left-btn{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.header__menu-logo-link{
    display: inline-block;
    width: 110px;
    height: 47px;
    margin-left: 30px;
}

.header__menu-left-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__menu-right{
    display: flex;
    align-items: center;
}

.header__menu-phone{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-weight: 500;
}

.header__menu-phone i{
    margin-right: 4px;
}

.header__menu-language{
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    color: #fff;
}
.header__menu-language option{
    color: var(--text-color-1);
}

.header__menu-booking{
    display: inline-block;
    background-color: var(--color-blue);
    padding: 11px 32px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.header__content{
    margin: 100px 0;
}

.header__content h1{
    text-align: center;
    font-size: 56px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
}

/* content */
.room__meeting-desc{
    padding: 80px 0;
}

.room__meeting-desc-title{
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: var(--text-color-1);
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.room__meeting-desc-wrap{
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
}

.room__meeting-desc-items{
    list-style: none;
    display: flex;
    align-items: center;
}

.room__meeting-desc-item{
    width: calc(100% / 4);
    flex: 0 0 calc(100% / 4);
    text-align: center;
}

.room__meeting-desc-item i{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #eee;
    font-size: 40px;
    color: #818a91;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.room__meeting-desc-item p{
    font-size: 14px;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--text-color-1);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.room__meeting-desc-item span{
    display: block;
    font-size: 16px;
    color: var(--text-color-1);
}

.room__meeting-desc-btn{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.room__meeting-desc-btn i{
    font-size: 12px;
    padding: 0 12px;
    color: #ccc;
}

.room__meeting-desc-btn i.active{
    color: var(--color-blue);
}

.room__meeting-info-img{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.room__meeting-info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.room__meeting-info-reverse{
    flex-direction: row-reverse;
}

.room__meeting-info-wrap{
    padding: 0 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.room__meeting-info-wrap h3{
    font-size: 36px;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--text-color-1);
    margin-bottom: 10px;
    opacity: 0;
}

.room__meeting-info-wrap .room__meeting-info-price{
    font-size: 15px;
    color: var(--color-blue);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    opacity: 0;
}

.room__meeting-info-wrap p{
    font-size: 18px;
    color: var(--text-color-2);
    margin-bottom: 20px;
    opacity: 0;
}

.room__meeting-info-service{
    opacity: 0;
}

.room__meeting-info-service li{
    padding-bottom: calc(15px / 2);
    list-style: none;
}

.room__meeting-info-service li i{
    font-size: 21px;
}

.room__meeting-info-service li span{
    display: inline-block;
    font-size: 18px;
    padding-left: 15px;
    color: var(--text-color-1);
}

.room__meeting-info-link{
    border: 1px solid var(--text-color-2);
    color: var(--text-color-1);
    margin-top: 40px;
    opacity: 0;
}

.room__meeting-info-img.active::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    background-color: var(--color-blue);
    z-index: 1;
    animation: slideLeft linear 1s;
}

.room__meeting-info-img.active img{
    animation: zoom 0.5s 0.5s linear forwards;
}

.room__meeting-info-wrap.active h3{
    animation: slideUp 0.5s linear forwards;
}

.room__meeting-info-wrap.active .room__meeting-info-price{
    animation: slideUp 0.5s 0.3s linear forwards;
}

.room__meeting-info-wrap.active p{
    animation: slideUp 0.5s 0.6s linear forwards;
}

.room__meeting-info-wrap.active .room__meeting-info-service{
    animation: slideUp 0.5s 0.9s linear forwards;
}

.room__meeting-info-wrap.active .room__meeting-info-link{
    animation: slideUp 0.5s 1.2s linear forwards;
}

/* footer */
.footer {
    padding: 80px 0;
    background-color: var(--text-color-1);
    color: #fff;
}

.footer__top {
    padding-bottom: 60px;
}

.footer__logo {
    width: 120px;
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-phone,
.footer-email {
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer-address {
    color: #fff;
    font-weight: 500;
}

.footer__title {
    font-size: 24px;
    font-family: var(--font-title);
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer__item {
    list-style: none;
    margin-bottom: 15px;
}

.footer__item-link {
    color: #fff;
    text-decoration: none;
}

.footer__item-link:hover {
    color: var(--color-blue);
}

.footer__form label {
    font-size: 28px;
    color: #fff;
    font-family: var(--font-title);
    font-weight: 700;
    margin-bottom: 40px;
    display: block;
}

.footer__form-input {
    position: relative;
}

.footer__form-input input {
    width: 100%;
    height: 60px;
    outline: var(--color-blue);
    padding: 0 40px 0 15px;
    font-size: 16px;
    color: #000;
}

.footer__form-input button {
    position: absolute;
    top: 52%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
}

.footer__bottom {
    padding: 40px 0 25px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-left > * {
    margin-right: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.footer__bottom-left > a:hover{
    color: var(--color-blue);
}

.footer__bottom-right > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
}

.footer__bottom-right > a:hover{
    color: var(--color-blue);
}

/* menu */
#menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
}

.menu__wrap{
    position: relative;
    background-color: var(--color-blue);
    width: 50%;
    min-height: 100vh;
    padding: 40px 80px 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1;
    transition: all linear 0.5s;
}

.menu__wrap::-webkit-scrollbar{
    width: 6px;
    background-color: #f5f5f5;
}

.menu__wrap::-webkit-scrollbar-track{
    border-radius: 5px;
}

.menu__wrap::-webkit-scrollbar-thumb{
    background-color: var(--text-color-2);
    border-radius: 5px;
}

.menu__close{
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu__close i{
    font-size: 24px;
}

.menu-bg-black{
    width: 50%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu__items{
    list-style: none;
    padding: 15px 0;
}

.menu__item-children,
.menu__item{
    color: #fff;
    margin: 30px 0;
    cursor: pointer;
}

.menu__item-wrap-title{
    display: flex;
}

.menu__item-number-order{
    font-size: 14px;
}

.menu__item-title-children,
.menu__item-title{
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-title);
    padding-left: 15px;
}

.menu__item-link{
    color: #fff;
    text-decoration: none;
}

.menu__item-title i{
    font-size: 12px;
}

.menu__item-childrens{
    list-style: none;
    margin-top: 30px;
    padding-left: 50px;
    display: block;
    transition: all linear 0.5s;
}

.menu__contact-email,
.menu__contact-phone{
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}

.menu__item{
    overflow: hidden;
    height: 30px;
    transition: all linear 0.5s;
}

/* reposive mobile and tablet */
@media (max-width: 991.98px){
    .hide-mobile-tablet{
        display: none;
    }
}

/* reponsive tablet */
@media (min-width: 768px) and (max-width: 991.98px){
    .hide-tablet{
        display: none;
    }
}

/* reponsive mobile */
@media (max-width: 767.98px){
    .hide-mobile{
        display: none;
    }

    .header__background-img-right{
        width: 100%;
    }

    .header__menu-booking{
        padding: 11px 15px;
    }

    .menu__wrap{
        width: 100%;
    }

    .footer__bottom{
        flex-direction: column-reverse;
    }
}